<?xml version="1.0"?>
<settings>
  <servers>
    <server>
      <id>anypoint-exchange-v3</id>
      <username>c539c17d3fbf403a8ba4bc77c615bea7</username>
      <password>c539c17d3fbf403a8ba4bc77c615bea7?5e752bCdE58949658358D05EC1335839</password>
    </server>
    <server>
      <id>MuleRepository</id>
      <username>execute.nexus</username>
      <password>MpFGtBMO</password>
    </server>
  </servers>
  <pluginGroups>
    <pluginGroup>org.mule.tools</pluginGroup>
  </pluginGroups>
  <profiles>
    <profile>
      <id>Mule</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>MuleRepository</id>
          <name>MuleRepository</name>
          <url>https://repository.mulesoft.org/nexus/content/repositories/releases-ee/</url>;
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>mulesoft-public</id>
          <name>MuleSoft Public Repository</name>
          <url>https://repository.mulesoft.org/nexus/content/repositories/public/</url>;
          <layout>default</layout>
        </repository>
        <repository>
          <id>maven-central</id>
          <name>Maven Central Repository</name>
          <url>https://repo.maven.apache.org/maven2/</url>;
          <layout>default</layout>
        </repository>
        <repository>
          <id>maven-central-new</id>
          <name>Maven Central Repository</name>
          <url>https://repo1.maven.org/maven2/</url>;
          <layout>default</layout>
        </repository>
        <repository>
          <id>mulesoft-releases</id>
          <name>MuleSoft Repository</name>
          <url>http://repository.mulesoft.org/releases/</url>;
          <layout>default</layout>
        </repository>
        <repository>
          <id>mulesoft-snapshots</id>
          <name>MuleSoft Snapshot Repository</name>
          <url>http://repository.mulesoft.org/snapshots/</url>;
          <layout>default</layout>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>mule-public</id>
          <url> https://repository.mulesoft.org/nexus/content/repositories/public </url>
        </pluginRepository>
        <pluginRepository>
          <id>maven-public</id>
          <url> https://repo.maven.apache.org/maven2 </url>
        </pluginRepository>
        <pluginRepository>
          <id>MuleRepository</id>
          <url>https://repository.mulesoft.org/nexus-ee/content/repositories/releases-ee/</url>;
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
</settings>